*{
  box-sizing: border-box;
}
.application-content{
  h1{
    font-size: 30px;
    text-align: center;
  }
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  
  .page-options{
    position: absolute;
    top: 4rem;
    left: 0;
    overflow: hidden;
    width: 50%;
  }

  .current-page-html{
    position: absolute;
    top: 4rem;
    border: 2px solid black;
    right: 0;
    width: 50%;
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;

    .current-active-element{
      cursor: crosshair;
      outline: 2px solid #A0C5E8;
      // position: relative;
    
      // &:before{
      //   content: attr(data-path);
      //   position: absolute;
      //   right: 0;
      //   top: 0;
      //   font-size: 10px;
      //   color: blue;
      //   background: yellow;
      // }
    }
  }
  
  .response-preview{
    word-break: break-word;
    padding: 1rem;
  }
  input{
    width: 150px;
  }
}